#categoriasLarge {
    height: 787px;
}

#categorias {
    width: 100%;
    background-color: rgba(0, 148, 117);
    border: 1px black solid;
    color: white;
}

#barraNavegacion {
    border: 1px black solid;
}