#Cabezera{
    margin-top: 15px;
    border: 1px solid black;
}
.col-sm-3 > img{
    max-width: 150px;
    max-height: 150px;
    margin: 10px 10px 10px 10px;
    text-align: center;
}
.Titulo{
    margin-top: 50px;
    margin-left: 50px;
    margin-top: 50px;
    text-align: center;
    align-items: center;
}
.botones_sup{
    margin-top: 50px;
    text-align: center;
    align-items: center;
}
.botones_sup > span{
    font-size: 50px;
    margin-right: 25px;
    margin-left: 25px;
}
#Cuerpo{
    border: 1px solid black;
}
#tabla{
    padding: 0%;
}
#header{
    padding: 0%;
    max-width: 120%;
}
#Ubicacion{
    width: 150px;
    border: 1px solid black;
    color: white;
    background-color: rgb(0, 46, 96);
}
#Seccion{
    border: 1px solid black;
    color: white;
    background-color: rgb(0, 46, 96);;
}
#navegacion_f{
    padding: 0%;
    width: 25%;
}
#navegacion_c{ 
    padding: 0%;
    width: 300px;
}
#navegacion_b{
    background-color: rgb(0, 148, 117);
    border: 2px solid black;
    color: white;
    width: 100%;    
    height: 100%;
    padding: 8.7%;
    font-size: 20px;
}
#contenido{
    width: 75%;
    height: 100%;
}
#Botones{
    text-align: center;
    margin: 84px;
}
#botones_t{
    font-size: 50px;
}
#footer{
    height: 45px;
    padding: 6px;
    border-top: 3px solid black;
    border-left: 1px solid black;
    background-color: orange;
}